.body, html {
    margin: 10px;
}
.space-one {
    display: inline-block;
    border: 2px black dashed;
    padding: 60px;
}
.space-two {
    display: inline-block
}
.box-model {
    height: 350px;
    width: 450px;
}
.navbar {
    width: 100vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content:space-around;
}
.coffee {
    width: 425px;
    border: 2px solid red;

    position: relative;
    left: 10px
}
.decaf {
    height: 400px;
    width: 555px;
    border: 2px solid blue;
}
.blog {
    
}
.header {

}
